{
  "extends": ["airbnb", "prettier"],
  "plugins": ["prettier"],
  "rules": {
    "prettier/prettier": ["error"]
  },
  "eslintConfig": {
    "extends": ["react-app", "plugin:prettier/recommended"]
  }
}