.listing-item {
  padding: 10px;
  margin: 0;
}

.listing-image {
  max-width: 250px;
  max-height: 250px;
  border-radius: 5%;
}

.listing-accordion-image {
  margin-right: 25px;
  max-width: 75px;
  max-height: 75px;
  border-radius: 50%;
}

.listing-title {
  cursor: pointer;
}

.listing-row {
  position: relative;
  border: solid 1px gray;
  padding: 15px;
  margin: 1px;
}

.listing-row:hover {
  box-shadow: 3px 3px gray;
  top: -2px;
  left: -2px;
}
